h1 {
    margin: 0 auto;
    color: #c92424;
    text-align: center;
}
h3,
h2 {
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
}
ul,
p {
    text-align: center;
}
body {
    background-image: url("https://s2.loli.net/2024/04/30/EmqoO3kp6K9blVI.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}