h1 {
    margin: 0 auto;
    color: #c92424;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
}
ul,
p {
    text-align: center;
}
body {
    background-image: url("bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}